<html>
<head>
	<title>BudayaKB Lite</title>
    <style>
        form  { display: table;      }
        div p { display: table-row;  }
        label { display: table-cell; }
        input { display: table-cell; }
        /* Display table agar terlihat rapi */
    </style>
</head>

<body>
	 {% include 'includes/_navbar.html' %}
	<h2>Hapus Budaya</h2>
    <p>Masukkan data budaya yang akan dihapus</p>

	<div class="container">
        <form method="POST", action="" enctype = "multipart/form-data">
            <p><label>Nama:</label><input type="text" name=name required></p><br>
            <input type=submit value="Hapus Data">
	    </form>
    </div>


	{% if result is defined and result == 1: %}
	<h3>Sukses menghapus data "{{ name }}".</h3>
    {% elif result is defined and result == 0: %}
    <h3>Data dengan nama "{{ name }}" tidak ada dalam sistem.</h3>
    {% elif f_error is defined and f_error == 1: %}
    <h3>Silakan mengimpor file terlebih dahulu.</h3>
	{% endif %}
</body>
</html>
