<html>
<head>
	<title>BudayaKB Lite</title>
    <style>
        form  { display: table;      }
        div p { display: table-row;  }
        label { display: table-cell; }
        input { display: table-cell; }
        /* Display table agar terlihat rapi */
    </style>
</head>

<body>
	 {% include 'includes/_navbar.html' %}
	<h2>Tambah Budaya</h2>
    <p>Masukkan data budaya yang akan ditambahkan ke dalam sistem</p>

	<div class="container">
        <form method="POST", action="" enctype = "multipart/form-data">
            <p><label>Nama:</label><input type="text" name=name required></p>
            <p><label>Tipe:</label><input type="text" name=tipe required></p>
            <p><label>Provinsi:   </label><input type="text" name=prov required></p>
            <p><label>URL referensi:</label><input type="text" name=url required></p>
            <input type=submit value="Tambah Data">
	    </form>
    </div>


	{% if result is defined and result == 1: %}
	<h3>Sukses menambahkan data "{{ name }}" ke {{ filename }}</h3>
    {% elif result is defined and result == 0: %}
    <h3>Data dengan nama "{{ name }}" sudah ada</h3>
    {% elif f_error is defined and f_error == 1: %}
    <h3>Silakan mengimpor data terlebih dahulu</h3>
	{% endif %}
</body>
</html>
